<footer class="footer text-center text-white" style="background-color: #f1f1f1;">
    <div class="container pt-4">
        <div class="navbar-brand mx-auto">
            <div class="logo-container">
                <img (click)="route('/home')" src="assets/HollisHobby-logo.png" id="logo" height="100" alt="Logo Description" />
            </div>
        </div>
        <p class="text-dark mt-3">Stony Point, NY</p>
      <section class="m-4">
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href=""
          role="button"
          data-mdb-ripple-color="dark" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>

        <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href=""
        role="button"
        data-mdb-ripple-color="dark" target="_blank"
        ><i class="fab fa-tiktok"></i
      ></a>

      </section>
      
      
    </div>
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Copyright &#64; 2024 Hollis Hobby
    </div>
  </footer>