<section class="hero">
    <div class="hero-content">
      <h1 class="hero-title">Custom Designs on Everything</h1>
      <p class="hero-subtitle">Handmade, personalized crafts for all your special moments.</p>
      <a routerLink="/products?category=ALL" class="btn btn-primary">Shop Now</a>
    </div>
  

    <div class="hero-background">
      <img src="assets/no-background/shirt-dude-nobg.png" alt="Decorative Design 1" class="decorative-image image1">
      <img src="assets/no-background/ornament2-nobg.png" alt="Decorative Design 2" class="decorative-image image2">
      <img src="assets/no-background/bottle3-nobg.png" alt="Decorative Design 3" class="decorative-image image3">
      <img src="assets/no-background/bottle7-nobg.png" alt="Decorative Design 4" class="decorative-image image4">
      <img src="assets/no-background/ornament4-nobg.png" alt="Decorative Design 5" class="decorative-image image5">
      <img src="assets/no-background/barrettes-nobg.png" alt="Decorative Design 6" class="decorative-image image6">
      <img src="assets/no-background/fishing-buddy-nobg.png" alt="Decorative Design 7" class="decorative-image image7">
      <!-- Add more images -->
      <img src="assets/no-background/happy-little-soul-nobg.png" alt="Decorative Design 8" class="decorative-image image8">
      <img src="assets/no-background/baby-shirt1-nobg.png" alt="Decorative Design 9" class="decorative-image image9">
      <img src="assets/no-background/crochet-hat-nobg.png" alt="Decorative Design 10" class="decorative-image image10">
      <img src="assets/no-background/stuffed-animal-nobg.png" alt="Decorative Design 11" class="decorative-image image11">
    </div>
    
  </section>
  