<!-- Social Bar -->
<div class="social-bar">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <span class="free-ship">FREE SHIPPING - On all orders of $200 and over</span>
    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-tiktok"></i></a>
    </div>
  </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/home">
      <img src="assets/HollisHobby-logo.png" alt="Hollis Hobby Crafts Logo" class="logo">
    </a>

    <div class="navbar-collapse justify-content-center">
      <ul class="navbar-nav" *ngFor="let menuItem of menu">
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="menuItem.route" [queryParams]="{ category: menuItem.category }">{{menuItem.title}}</a>
        </li>
      </ul>
    </div>

    <div class="navbar-icons">
      <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
      <a class="nav-link" routerLink="/cart"><i class="fas fa-shopping-cart"></i></a>
    </div>
  </div>
</nav>
