/* Navbar */
.custom-navbar {
  background-color: #F9F0D9;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1020;

  .navbar-toggler {
    border: none;
    background: none;
    font-size: 24px;
    color: #444;
    display: none; /* Hidden by default */
  }

  @media (max-width: 992px) {
    .navbar-toggler {
      display: block; /* Show hamburger menu */
    }

    .navbar-collapse,
    .navbar-icons {
      display: none; /* Hide desktop menu */
    }
  }
}

.contain{
  width: 80%; /* Limit the navbar content to 80% of the page width */
  margin: auto; /* Center the navbar horizontally */

  @media (max-width: 992px) {
    width: 100%;
  }
}

.navbar-icons {
  width: 120px;
  font-size: 20px;
}

/* Slide-in Menu */
.slide-in-menu {
  position: fixed;
  top: 0;
  right: -300px; /* Hidden by default */
  width: 300px;
  height: 100%;
  background-color: #FFF;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1050;

  &.active {
    right: 0; /* Slide in when active */
  }

  .slide-in-menu-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;

    .close-button {
      align-self: flex-end;
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: #444;

      &:hover {
        color: #FF7F50;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 15px;

        .nav-link {
          color: #444;
          font-size: 18px;
          text-decoration: none;
          transition: color 0.3s;

          &:hover {
            color: #FF7F50;
          }
        }
      }
    }
  }
}

/* Mobile Styling */
@media (max-width: 768px) {
  .slide-in-menu {
    width: 260px;
  }

  .slide-in-menu .nav-link {
    font-size: 16px;
    padding: 8px 0;
  }

  .close-button {
    font-size: 30px;
  }
}




/* Social Bar */
.social-bar {
  background-color: #FFF8E7;
  padding: 10px 20px;
  border-bottom: 1px solid #EDEDED;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.free-ship {
  color: #444;
  font-weight: 500;
  font-size: 14px;
  padding-left: 68px;
  margin: auto;
}

.social-icons a {
  margin-left: 10px;
  color: #444;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #FF7F50;
}

@media (max-width: 768px) {
  .social-icons {
    display: none; /* Hide social icons on mobile devices */
  }
  .free-ship {
    text-align: center; /* Center the text */
    padding-left: 0; /* Remove left padding to center align */
    width: 100%; /* Ensure it takes full width for centering */
  }
}
