.container {
    margin-top: 50px;
}

h2 {
    margin: 50px 0;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.img-fluid {
    max-width: 100px;
}

.text-right {
    text-align: right;
}

.btn-dark {
    background-color: #343a40;
    color: white;
}

.btn-link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.empty-text{
    font-size: 36px;
}

.cart-btns{
    width: 200px;
    font-size: 20px;
    margin: 10px;
}

.form-control{
    width: 35px !important;
}