.card {
  border: none;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth effect */
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05); /* Scale the card up slightly */
}

.product-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
  }
  
.product-image img {
  max-width: 100%;
  height: auto;
}

.product-details {
  max-width: 500px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
}

.product-price {
  font-size: 18px;
  color: #333;
}

.installments {
  font-size: 14px;
  color: #666;
}

.shop-pay {
  color: #4b4bff;
  font-weight: bold;
}

.size-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.size {
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}

.size.selected {
  background-color: black;
  color: white;
}

.authenticity {
  font-size: 14px;
  color: #666;
}

.product-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-to-cart, .shop-pay-button {
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.add-to-cart {
  background-color: black;
  color: white;
}

.shop-pay-button {
  background-color: #4b4bff;
  color: white;
}

.more-payment-options {
  font-size: 14px;
  color: #666;
  text-align: center;
  text-decoration: none;
}

.img-fluid {
  width: 100%;
}

.card {
  border: none;
}

.card-img-container {
  width: 100%;
  height: 280px; /* Set a fixed height for the image container */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-img-top {
  max-width: 100%;
  max-height: 100%;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
  color: #333;
}

.btn-dark {
  background-color: #3e2723;
  border: none;
}

.btn-dark:hover {
  background-color: #5d4037;
}

.size {
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ccc;
  margin: 2px;
  display: inline-block;
  width: auto;
  min-width: 40px;
  text-align: center;
}

.size.disabled {
  text-decoration: line-through;
  color: #999;
  cursor: not-allowed;
}

.btn-dark {
  background-color: #3e2723;
  border: none;
}

.btn-dark:hover {
  background-color: #5d4037;
}

.shoe-section {
  min-height: 200px;
}

@media (max-width: 576px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.carousel-item img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid black;
  border-width: 0 3px 3px 0;
}

.carousel-control-prev-icon::after {
  transform: rotate(135deg);
}

.carousel-control-next-icon::after {
  transform: rotate(-45deg);
}

.quantity {
  width: 10%;
  text-align: center;
}
