<div class="section-header">
  <h2 class="section-title">{{ getSectionTitle() }}</h2>
</div>

<div class="product-grid">
  <div class="product-card" *ngFor="let product of filteredProducts" (click)="viewProduct(product)">
    <img [src]="product.display_image ?? 'assets/default.jpg'" [alt]="product.name" class="product-image" />
    <div class="product-info">
      <h3 class="product-title">{{ product.name }}</h3>
      <p class="product-price">${{ product.price }}</p>
    </div>
    <button
      *ngIf="product.quantity > 0; else outOfStock"
      (click)="handleProductAction(product, $event)"
      [ngClass]="{
        'customize-button': product.is_customizable,
        'add-to-cart-button': !product.is_customizable
      }"
      [disabled]="product.isAddingToCart"
    >
      {{ product.is_customizable ? 'Customize Product' : 'Add to Cart' }}
    </button>
    <ng-template #outOfStock>
      <button disabled>Out of Stock</button>
    </ng-template>
  </div>
</div>
