/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

body{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: black;
}

.back-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
  }
  
  .back-button i {
    margin-right: 5px;
  }
  
  .back-button:hover {
    transform: scale(1.1);
  }
  